/* Colors
---------------------------*/
$font-color: #555;
$link-color : #0056b3;
$body-color: #fafafa;            


/* Fonts
---------------------------*/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
$primary-font: 'Crimson Text', serif;



